<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update A Product</title>
    <link th:href="@{styles.css}" href="../static/styles.css" rel="stylesheet" type="text/css">

</head>
<body>


<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Turneringer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/alleturneringer">Turnerings Oversigt</a>
            <a href="/opretturnering">Opret turnering</a>
        </div>

    </div>
    <div class="dropdown">
        <button class="dropbtn">Medlemmer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/opretmedlem">Opret medlem</a>
            <a href="/allemedlemmer">Medlems Oversigt</a>
            <a href="/resultatberegning">Indtast Nyt Kamp Resultat</a>

        </div>

    </div>

    <div class="dropdown">
        <button class="dropbtn">Medarbejdere
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/createmedarbejder">Opret medarbejder</a>
            <a href="/allemedarbejdere">Medarbejder oversigt</a>
        </div>

    </div>


    <div class="dropdown">
        <button class="dropbtn">Restance
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/allerestancer">Restance oversigt</a>

        </div>

    </div>
</div>


<h1>Opdater en turnering</h1>

<div class="container">



    <form action="/updatedturnering" method="post">

        <label for="turneringsId">Turnerings ID</label>
        <input type="text" name="turneringsId" id="turneringsId" th:value="${turnering.turneringsId}" readonly>
        <br>
        <label for="turneringsNavn">Turnerings navn</label>
        <input type="text" name="turneringsNavn" id="turneringsNavn" th:value="${turnering.turneringsNavn}" >
        <br>
        <label for="antalDeltagere">Antal Deltagere:</label>
        <input type="text" name="antalDeltagere" id="antalDeltagere" th:value="${turnering.antalDeltagere}" >
        <br>
        <label for="dato">Dato:</label>
        <input type="text" name="dato" id="dato" th:value="${turnering.dato}" >
        <br>
        <label for="deltagerKategori">Kategori</label>
        <input type="text" name="deltagerKategori" id="deltagerKategori" th:value="${turnering.deltagerKategori}"  >
        <br>

        <button type="submit" name="submit" button class="btn btn-create">Update</button>
    </form>
</div>

</body>
</html>